

table {
    width: 100%;
    border-collapse:separate;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
  }
  
  th {
    background-color: #4be5f3;
  }
  tr{
    background-color: #d3f1f4;
  }